<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="csvToJson" class="abaranov.parse.ParseCsvToJson"/>
    <bean id="xlsxToJson" class="abaranov.parse.ParseXlsxToJson"/>
    <bean id="runParse" class="abaranov.parse.RunParse">
        <constructor-arg ref="csvToJson"></constructor-arg>
    </bean>

</beans>